<script type="text/ng-template" id="tableview.head.cell">
  <span>{{$column.title}}</span>
  <span ng-if="$column.sortable && $column.field" class="sort"></span>
  <input ng-if="$column.filterable && $column.field"
         ng-model="tableview.request.like[$column.field]"
         placeholder="{{$column.placeholder || 'Search...'}}"
         ng-click="$event.stopPropagation();"
         ng-change="like($index)"
         type="text"
         required
  />
</script>

<script type="text/ng-template" id="tableview.body.cell">{{$cell}}</script>

<script type="text/ng-template" id="tableview.pager">
  <div class="limit" ng-include="tableview.template['pager.limit'] || 'tableview.pager.limit'"></div>
  <div class="controls" ng-include="tableview.template['pager.controls'] || 'tableview.pager.controls'"></div>
</script>

<script type="text/ng-template" id="tableview.pager.limit">
  <select ng-model="tableview.request.limit" ng-options="o as o for o in tableview.limits" ng-change="limit()">
  </select>
</script>

<script type="text/ng-template" id="tableview.pager.controls">
  <ng-init></ng-init>
  <span class="pageOf">
    Page {{tableview.request.page}} of {{tableview.pages}}
  </span>
  <button class="prev" ng-click="prev()" ng-disabled="tableview.request.page < 2">Prev</button>
  <button class="next" ng-click="next()" ng-disabled="tableview.request.page >= tableview.pages">Next</button>
</script>

<table>
  <thead>
    <tr>
      <th ng-repeat="$column in tableview.columns"
          ng-include="
            $column.template['head.cell']
            || tableview.template['head.cell']
            || 'tableview.head.cell'
          "
          class="{{
            $column.name ? 'column-'+$column.name : ''
            }} {{
            $column.field ? 'column-'+$column.field : ''
          }}"
          ng-class="{
            'sortable':$column.sortable && $column.field,
            'sortable-asc':$column.sorting == 'ASC',
            'sortable-desc':$column.sorting == 'DESC',
            'filterable':$column.filterable
          }"
          ng-click="switchSort($column.field)"
      ></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="$row in tableview.rows" ng-if="$index < tableview.request.limit">
      <td ng-repeat="$column in tableview.columns"
          ng-init="$cell = $row[$column.field]"
          ng-include="
            $column.template['body.cell']
            || tableview.template['body.cell']
            || 'tableview.body.cell'
          "
          class="{{
            $column.name ? 'column-'+$column.name : ''
            }} {{
            $column.field ? 'column-'+$column.field : ''
          }}"
          ng-class="{
            'sortable':$column.sortable && $column.field,
            'sortable-asc':$column.sorting == 'ASC',
            'sortable-desc':$column.sorting == 'DESC',
            'filterable':$column.filterable
          }"
      ></td>
    </tr>
  </tbody>
  <tfoot ng-if="tableview.template.foot" ng-include="tableview.template.foot"></tfoot>
</table>
<pager ng-include="tableview.template['pager'] || 'tableview.pager'"></pager>
<pre ng-if="tableview.debug">{{tableview | json}}</pre>